mongo_vcore_connection_string= "mongodb+srv://azureopenaidemo:Adminpassw0rd123@azureopenaidemo.mongocluster.cosmos.azure.com/?tls=true&authMechanism=SCRAM-SHA-256&retrywrites=false&maxIdleTimeMS=120000"
openai_api_endpoint = "https://testingazureopenai.openai.azure.com/"
openai_api_key = "f2bbd63b6e52483ead0d34c0ddd2b0e4"
openai_api_type = "azure"
openai_api_version = "2024-02-01"
openai_embeddings_deployment = "text-embedding-ada-002"
dali_api_key="<OPENAI_API_KEY>"